@model Agrokultura.Models.ChorePerson

@{
    ViewData["Title"] = "Details";
}

<div class="row row-udpate_create mx-auto">
    <div class="col-md-6 mx-auto col-update_create">
        <h1>Detalji statusa posla</h1>

        <dl class="row form-group-update_create m-auto">
        <dt class = "col-sm-4">
           Opis
        </dt>
            <dd class="col-sm-8 ">
            @Html.DisplayFor(model => model.Description)
        </dd>
            <dt class="col-sm-4 ">
            Zadatak
        </dt>
            <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Chore.Name)
             <a asp-controller="Chores" asp-action="Details" asp-route-id="@Model.Chore.Id" class="icons-modify-in-details"><i class="fa-solid fa-circle-info"></i></a>

        </dd>
            <dt class="col-sm-4">
            Status narudžbe
        </dt>
            <dd class="col-sm-8 ">
            @Html.DisplayFor(model => model.OrderStatus.Name)
             <a asp-controller="OrderStatus" asp-action="Details" asp-route-id="@Model.OrderStatus.Id" class="icons-modify-in-details"><i class="fa-solid fa-circle-info"></i></a>

        </dd>
            <dt class="col-sm-4">
            Naručitelj
        </dt>
            <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Person.FullName)
             <a asp-controller="People" asp-action="Details" asp-route-id="@Model.Person.Id" class="icons-modify-in-details"><i class="fa-solid fa-circle-info"></i></a>

        </dd>
    </dl>
        <div class="btn edit-data-btn">
            <a asp-action="Edit" asp-route-id="@Model?.Id">Uredi</a>
        </div>


        <div class="btn back-to-list">
            <a href="javascript:history.back()">Natrag</a>
        </div>
    </div>

</div>