@model Agrokultura.Models.Plot

@{
    ViewData["Title"] = "Delete";
}

<div class="col-update_create">
    <h1>Izbrisati</h1>

    <h3>Jeste li sigurni da želite ovo izbrisati?</h3>
    <div>
        <h4>Zemljište</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Naziv: 
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Tlo:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ground.Name)
            </dd>
            <dt class="col-sm-2">
                Vlasnik: 
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner.FullName)
            </dd>
            <dt class="col-sm-2">
                Teren: 
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Terrain.Name)
            </dd>
            <dt class="col-sm-2">
                Prisutnost sunca:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SunPresence)
            </dd>
            <dt class="col-sm-2">
                Nagib tla: 
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GroundSlope)
            </dd>
            <dt class="col-sm-2">
                Površina parcele:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlotArea)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="btn back-to-list">
                <a href="javascript:history.back()">Natrag</a>
            </div>
            <input type="submit" value="Izbrisati" class="btn edit-data-btn delete-btn" />
        </form>
    </div>
</div>

