@model Agrokultura.Models.Plot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coordinates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coordinates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitudes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitudes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Corners)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Corners)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ground)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ground.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terrain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terrain.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
