@model Agrokultura.Models.Plot

@{
    ViewData["Title"] = "Details";
}

<div class="row row-udpate_create mx-auto">
    <div class="col-md-6 mx-auto col-update_create">
        <h1>Detalji parcele</h1>

        <dl class="row form-group-update_create">
        <dt class="col-sm-2">
            Naziv
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Nagib tla
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroundSlope)
        </dd>
        <dt class="col-sm-2">
           Prisutnost sunca
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SunPresence)
        </dd>
        <dt class="col-sm-2">
            Tlo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ground.Name)
        </dd>
        <dt class="col-sm-2">
            Vlasnik
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.FullName)
        </dd>
        <dt class="col-sm-2">
            Teren
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terrain.Name)
        </dd>
        <dt class="col-sm-2">
            Površina
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlotArea)
        </dd>

    </dl>
    <div class="btn edit-data-btn">
        <a asp-action="Edit" asp-route-id="@Model?.Id">Uredi</a>
    </div>
    <div class="btn back-to-list">
        <a href="javascript:history.back()">Natrag</a>
    </div>
</div>
</div>