@model Agrokultura.Models.Contract

@{
    ViewData["Title"] = "Details";
}
<div class="row row-udpate_create mx-auto">
    <div class="col-md-6 mx-auto col-update_create">
        <h1>Detalji Ugovora</h1>

        <dl class="row form-group-update_create">
        <dt class="col-sm-4">
            Naziv
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            Datum potpisivanja
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DateOfConclusion)
        </dd>
        <dt class="col-sm-4">
            Datum istjeka
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DateOfExpiration)
        </dd>
        <dt class="col-sm-4">
            Korisnik
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Beneficiary.FullName)
        </dd>
        <dt class="col-sm-4">
            Vlasnik
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Provider.FullName)
        </dd>
        <dt class="col-sm-4">
            Vrstaa ugovora
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ContractType)
        </dd>
    </dl>
    <div class="btn edit-data-btn">
        <a asp-action="Edit" asp-route-id="@Model?.Id">Uredi</a>
    </div>
    <div class="btn back-to-list">
        <a href="javascript:history.back()">Natrag</a>
    </div>
</div>
</div>