@model Agrokultura.Models.Order

@{
    ViewData["Title"] = "Details";
}

<div class="row row-udpate_create mx-auto">
    <div class="col-md-6 mx-auto col-update_create">
        <h1>Detalji narudžbe:</h1>

        <dl class="row form-group-update_create">
        <dt class = "col-sm-4">
            Biljka
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Plant.Name)
                <a asp-controller="Plants" asp-action="Details" asp-route-id="@Model.Plant.Id" class="icons-modify-in-details"><i class="fa-solid fa-circle-info"></i></a>

        </dd>
        <dt class = "col-sm-4">
            Količina:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.AmountOfGoods) kg/kom
        </dd>
        <dt class = "col-sm-4">
           Naručitelj:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Customer.FullName)
                <a asp-controller="People" asp-action="Details" asp-route-id="@Model.Customer.Id" class="icons-modify-in-details"><i class="fa-solid fa-circle-info"></i></a>

        </dd>
        <dt class = "col-sm-4">
            Status narudžbe:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.OrderStatus.Name)
                <a asp-controller="OrderStatus" asp-action="Details" asp-route-id="@Model.OrderStatus.Id" class="icons-modify-in-details"><i class="fa-solid fa-circle-info"></i></a>

        </dd>

    </dl>

        <div class="btn edit-data-btn">
            <a asp-action="Edit" asp-route-id="@Model?.Id">Uredi</a>
        </div>
        <div class="btn back-to-list">
            <a href="javascript:history.back()">Natrag</a>
        </div>
    </div>
</div>

